@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: linear-gradient(to bottom, rgb(26, 24, 24), rgb(24, 25, 32));
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-attachment: fixed;
}
.link{
    text-decoration: none;
    color:antiquewhite;
}

.voltar{
    text-decoration: none;
    color: antiquewhite;
}

h1{
    color: aliceblue;
    text-align: center;
    font-weight: 800;
    font-size: 30pt;
}
