@charset "utf-8";
/*
    Em HTML é id => em CSS é # (só pode um elemento)
    Em HTML é class => em CSS é . (pode vários elementos)
*/

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    color: #1e482f
}
#principal{
    text-align: center;
    background-color: #3c805e;
    color: whitesmoke;
}

h2{
    color: #3c805e
}
.basico{
    color: purple;
}

.inter{
    color: red;
}

.avancado{
    color: yellow;

}